In [1]:
import pandas as pd
import numpy as np

In [3]:
stats = pd.read_csv('Homework/teams_stats.csv')

In [4]:
stats.head(1)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0

In [11]:
stats['Tm'].nunique()

69

In [12]:
mount = pd.read_csv('Homework/Mountains.csv')

In [13]:
mount

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
...,...,...,...,...,...,...,...,...,...,...,...
113,105,Noijin Kangsang / Norin Kang,7206,23642,2160,Nagarze Himalaya,28°56′48″N 90°10′42″E﻿,Gangkar Puensum,1986,4,1.0
114,106,Langtang Ri,7205,23638,650,Langtang Himalaya,28°22′53″N 85°41′01″E﻿,Shisha Pangma,1981,4,0.0
115,107,Kangphu Kang,7204,23635,1200,Lunana Himalaya,28°09′20″N 90°03′48″E﻿,Tongshanjiabu,2002,1,0.0
116,108,Singhi Kangri,7202,23629,790,Siachen Karakoram,35°35′59″N 76°59′01″E﻿,Teram Kangri III,1976,2,0.0
117,109,Lupghar Sar,7200,23622,730,Hispar Karakoram,36°21′01″N 75°02′13″E﻿,Momhil Sar,1979,1,0.0

In [39]:
a = mount['Parent mountain'].value_counts().index

In [40]:
b = mount['Parent mountain'].value_counts().values

In [36]:
type(a)

pandas.core.indexes.base.Index

In [75]:
def sortFunc(a, b):
    c = []
    d = []
    for i in range(len(a)):
        if b[i] >= 3:
            c.append(a[i])
            d.append(b[i])
    return c, d

In [76]:
a[0]

'Mount Everest'

In [78]:
a, b = sortFunc(np.array(a), np.array(b))

In [80]:
print(zip(a, b))

<zip object at 0x00000159556BE448>

In [81]:
dict(zip(a, b))

{'Mount Everest': 9,
 'Gasherbrum I': 8,
 'Cho Oyu': 7,
 'Kangchenjunga': 7,
 'K2': 5,
 'Distaghil Sar': 5,
 'Shisha Pangma': 4,
 'Dhaulagiri': 4,
 'Khunyang Chhish': 3,
 'Dhaulagiri IV': 3,
 'Kamet': 3,
 'Batura Sar': 3,
 'Manaslu': 3,
 'Teram Kangri I': 3}